<div class="row">
	<div class="col-sm-6 col-md-4 col-lg-3" dir-paginate="book in books|filter:searchText|itemsPerPage:4">
		<div ng-class="{'not-available': book.books==0}" class="card">
			<img class="card-img-top" ng-src="assets/img/books/{{book.image}}" alt="{{book.title}}">
			<div class="card-body">
				<h4 class="card-title">{{book.title}}<br><small class="text-muted">{{book.author}}</small></h4>
				<h6 class="text-info">{{book.category}}</h6>
				<p class="card-text">{{book.description}}<br><small class="text-muted">{{book.year}} | Stock {{book.books}} | Borrowed {{book.borrowed}}</small></p>
				<div class="btn-group" role="group" aria-label="Basic example">
					<button ng-click="editBook(book)" class="btn btn-secondary"><i class="fa fa-edit"></i></button>
					<button data-ng-click="removeBook(book.id)" class="btn btn-secondary"><i class="fa fa-trash"></i></button>
					<button ng-click="borrowBook(book.id)" ng-disabled="!book.books" class="btn btn-secondary"><i class="fa fa-plus"></i></button>
					<button ng-click="returnBook(book.id)" ng-disabled="!book.borrowed" class="btn btn-secondary"><i class="fa fa-minus"></i></button>
				</div>
			</div>
		</div>
	</div>
</div>

<div>
	<dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"></dir-pagination-controls>
</div>

<div ng-show="openedModalEditBook" class="modal fade show">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Edit a book</h5>
				<button class="close" ng-click="openModalEditBook()"><span aria-hidden="true">&times;</span></button>
			</div>
			<div class="modal-body">
				<form name="addBookForm">
					<div class="form-group">
						<label>Title</label>
						<input type="text" class="form-control" placeholder="Book title" ng-model="editBookData.title" required>
					</div>
					<div class="form-group">
						<label>Author</label>
						<input type="text" class="form-control" placeholder="Book author" ng-model="editBookData.author" required>
					</div>
					<div class="form-group">
						<label>Category</label>
						<input type="text" class="form-control" placeholder="Book category" ng-model="editBookData.category" required>
					</div>
					<div class="form-group">
						<label>Description</label>
						<textarea class="form-control" rows="4" placeholder="Book description" ng-model="editBookData.description" required></textarea>
					</div>
					<div class="form-group">
						<label>Year</label>
						<input type="text" class="form-control" placeholder="Book year" ng-model="editBookData.year" required>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" ng-disabled="addBookForm.$invalid">Save</button>
				<button class="btn btn-secondary" ng-click="openModalEditBook()">Cancel</button>
			</div>
		</div>
	</div>
</div>