<!DOCTYPE html>
<html ng-app="libraryApp">
	<head>
		<meta charset="utf-8" />
		<title>The Library - AngularJS</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="keywords" content="Angular Library,Julio Cesar Sandoval Avila,Desarrollo web" />
		<meta name="description" content="Test de Angular JS" />
		<meta name="author" content="Julio Cesar Sandoval Avila" />
		<meta name="robot" content="index, follow" />
		<link rel="icon" sizes="16x16 32x32 64x64" href="http://jsandoval.space/assets/favicon/favicon.ico">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
		<link href="assets/css/main.css" rel="stylesheet">
	</head>
<body ng-controller="mainCtrl">

	<nav class="navbar navbar-expand-md navbar-dark bg-dark">
		<div class="container">
			<a class="navbar-brand" href="./">The Library</a>
			<button class="navbar-toggler" type="button">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" ng-click="addBook()">Add book</a>
					</li>
				</ul>
				<form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="text" placeholder="Search" ng-model="searchText">
				</form>
			</div>
		</div>
	</nav>

	<div class="jumbotron">
		<div class="container">
			<h1>{{searchText}}</h1>
		</div>
	</div>

	<div class="container">
		<div ng-view></div>
	</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.min.js"></script>
<script src="assets/js/main.js"></script>

</body>
</html>