<!DOCTYPE html>
<html ng-app="libraryApp">
	<head>
		<meta charset="utf-8" />
		<title>The Library - AngularJS</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="keywords" content="Angular Library,Julio Cesar Sandoval Avila,Desarrollo web" />
		<meta name="description" content="Test de Angular JS" />
		<meta name="author" content="Julio Cesar Sandoval Avila" />
		<meta name="robot" content="index, follow" />
		<link rel="icon" sizes="16x16 32x32 64x64" href="http://jsandoval.space/assets/favicon/favicon.ico">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
		<link href="assets/css/main.css" rel="stylesheet">
	</head>
<body ng-controller="mainCtrl">

<nav class="navbar navbar-expand-md">
	<div class="container">
		<a class="navbar-brand" href="./"></a>
		<button ng-click="openMenu()" class="navbar-toggler">
			<span class="navbar-toggler-icon">
				<i class="fa fa-bars"></i>
			</span>
		</button>

		<div ng-class="{'open': openedMenu}" class="collapse navbar-collapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" ng-click="openModalAddBook()">Add book</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" ng-click="scrolTo('footer')">Go down</a>
				</li>
				<li class="nav-item">
					<a href="http://google.com" class="nav-link" target="_blank">Google</a>
				</li>
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="text" placeholder="Search" ng-model="searchText">
			</form>
		</div>
	</div>
</nav>

<div class="jumbotron">
	<div class="container">
		<h1>{{searchText}}</h1>
	</div>
</div>

<div class="container">
	<div ng-view></div>
</div>

<footer id="footer" class="footer">
	<div class="container">
		<div class="row">
			<div class="col-4"><img src="assets/img/logo.jpg"></div>
			<div class="col-4 text-center">The Library 2017</div>
			<div class="col-4 text-right">
				<a href="http://facebook.com" target="_blank"><i class="fa fa-facebook"></i></a>
				<a href="http://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a>
				<a href="http://instagram.com" target="_blank"><i class="fa fa-instagram"></i></a>
			</div>
		</div>
	</div>
</footer>

<div ng-show="openedModalAddBook" class="modal fade show">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Add a book</h5>
				<button class="close" ng-click="openModalAddBook()"><span aria-hidden="true">&times;</span></button>
			</div>
			<div class="modal-body">
				<form name="addBookForm">
					<div class="form-group">
						<label>Title</label>
						<input type="text" class="form-control" placeholder="Book title" ng-model="newBookData.title" required>
					</div>
					<div class="form-group">
						<label>Author</label>
						<input type="text" class="form-control" placeholder="Book author" ng-model="newBookData.author" required>
					</div>
					<div class="form-group">
						<label>Category</label>
						<input type="text" class="form-control" placeholder="Book category" ng-model="newBookData.category" required>
					</div>
					<div class="form-group">
						<label>Description</label>
						<textarea class="form-control" rows="4" placeholder="Book description" ng-model="newBookData.description" required></textarea>
					</div>
					<div class="form-group">
						<label>Year</label>
						<input type="text" class="form-control" placeholder="Book year" ng-model="newBookData.year" required>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" ng-disabled="addBookForm.$invalid" ng-click="addBook()">Save</button>
				<button class="btn btn-secondary" ng-click="openModalAddBook()">Cancel</button>
			</div>
		</div>
	</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.min.js"></script>
<script src="assets/js/pagination.js"></script>
<script src="assets/js/main.js"></script>

</body>
</html>