@import 'nib'
@import 'nib/gradients'
@import 'nib/overflow'
@import 'fontawesome.css'
@import 'norm.css'

body
	background #f0f0f0
	a.fb,a.tw,a.in
		&:after
			font-family FontAwesome
			display inline-block
	a.fb:after
		content '\f082'
	a.tw:after
		content '\f16d'
	a.in:after
		content '\f099'
	md-toolbar.mobile._md
		display none
	.layout-row
		md-sidenav.md-sidenav-left
			display block !important
			overflow hidden
			.scrollV
				overflow auto
				height 100%
				position absolute
				top 0
				left 0
				width 350px
				padding-right 30px
				md-toolbar._md
					height 159px
					background #fff
					h1
						display block
						background transparent url('../img/logo.jpg') center center no-repeat
						background-size contain
						margin 0 auto
						padding 0
						width 288px
						height 159px
						max-height 159px
						a
							display block
							width 100%
							height 159px
							padding 288px
							overflow hidden
				.navbar-default
					border 0
					background none
					margin 20px 0
					ul.nav
						display block
						width 90%
						margin 0 auto
						li
							border-bottom 1px solid #ccc
							margin 0
							padding 0
							.dropdown-menu
								background none
								margin-top -8px
								border 0
								border-radius 0
								display block
								position relative
								float none
								top 0
								left 0
								li
									border 0
									a
										font-size 1em
										padding 4px 0 4px 30px
										&:after
											content ''
											display none
										&:hover
											color #00559a
											background none
							a
								font-size 1.5em
								color #00559a
								border-radius 0
								&:after
									font-family FontAwesome
									display block
									float right
									color #ccc
									content '\f054'
								&:hover
									color #fff
								&:focus
									background none
							&:first-child:hover,&:first-child.open
								& > a
									background #ec7e24
									color #fff
									&:after
										color #fff
							&:nth-child(2):hover,&:nth-child(2).open
								& > a
									background #f8c30c
									color #fff
									&:after
										color #fff
								ul
									li
										a:hover,a:focus
											&:before
												content ''
												display block
												height 28px
												width 10px
												position absolute
												top 0
												left 0
												background #f8c30c
							&:nth-child(3):hover,&:nth-child(3).open
								& > a
									background #0b9cbe
									color #fff
									&:after
										color #fff
							&:nth-child(4):hover,&:nth-child(4).open
								& > a
									background #90c939
									color #fff
									&:after
										color #fff
							&:nth-child(5):hover,&:nth-child(5).open
								& > a
									background #ccc
									color #fff
									&:after
										color #fff
							&:nth-child(6):hover,&:nth-child(6).open
								& > a
									background #f33030
									color #fff
									&:after
										color #fff
								ul
									li
										a:hover
											&:before
												content ''
												display block
												height 28px
												width 10px
												position absolute
												top 0
												left 0
												background #f33030
				.legal,.social
					margin 10px 0
					text-align center
					a
						color #003a86
				.social
					margin-top 10px
					a
						font-size 1.6em
						margin-right 5px
					a:last-child
						margin-right 0s
				.legal
					font-size .8em
					margin-bottom 20px
					a
						display inline-block
					a:first-child
						margin-right 5px
						&:after
							display inline-block
							content '|'
							margin-left 9px
			img
				height auto
				width auto
				max-width 100%
				display block
				margin 0 auto
			img:nth-child(6),img:nth-child(7),img:nth-child(8),img:nth-child(9)
				margin-bottom 25px
		div.layout-column.flex
			background #fafafa
			div#scrollA
				min-height 100%
				div
					md-toolbar.mimns
						background #000
						color #fff
						min-height 50px
						height 50px
						& > div
							margin-top 5px
							div
								md-menu-bar,md-menu,button
									vertical-align top
								md-menu:hover,button:hover,md-menu:focus,button:focus,md-menu:active,button:active
									border 0
									outline 0
								md-menu:hover,button:hover
									border-bottom 1px solid #fff
								md-menu:focus,button:focus
									border 1px solid #fff
								md-menu-bar
									md-menu._md-open > button
										background #222 !important
					md-content
						background #fff !important
						ul.list-group.numeros
							li
								span.badge.left
									background #ccc
									color #111
									float left
									margin-right 10px
						iframe
							display block
							margin 10px auto
							max-width 100%
				div.notFound
					md-content
						background none !important
				div.areaCoaches > md-content,div.elBasketball > md-content
					padding 0 25px
			div.ng-scope
				overflow auto
	div.triangle
		z-index 4
		position absolute
		width 0
		height 0
		margin 0
		padding 0
		top 50%
		left 50%
		transform translate(-50%,-50%)
		border-style inset
		border-style solid
	div.triangle.down
		border-width 13px 13px 0 13px
		border-color #007bff transparent transparent transparent
	div.triangle.left
		border-width 13px 13px 13px 0
		border-color transparent #007bff transparent transparent
	div.hero
		height 500px
		text-align center
		clear both
		iframe,img
			width 100%
			height 100%
			position absolute
			margin 0
			padding 0
			z-index 0
			border 0
			top 0
			left 0
		h1,a
			z-index 2
			color #fff
			text-shadow 1px 1px 1px #444
			margin 0 auto
		h1
			font-size 2.9em
			margin 175px 0 30px 0
		a
			text-decoration underline
			font-size 1.5em
	div.hero.half
		height 250px
		h1
			margin-top 90px
	div.full,div.f50
		text-align center
		padding 0
		margin 0
		span.frame
			z-index 10
			display block
			border 1px solid #000
			padding 2px 6px
			text-transform uppercase
			width auto
			position absolute
			top 10px
			right 10px
			font-size .7em
		.cont
			h3,p
				margin 0
				padding 0
				display block
				position absolute
				width 81%
				height auto
				left 50%
				transform translate(-50%,0)
		a
			top 0
			left 0
			position absolute
			margin 0
			padding 0
			border 0
			display block
			width 100%
			height 100%
			z-index 99
	div.f50
		float left
		width 50%
	div.f50
		&.small
			height 160px
		&.left
			.bak
				height 100%
				width 51%
				float left
				background-color transparent
				background-position center center
				background-repeat no-repeat
				background-size cover
			.cont
				height 100%
				background #eee
				float right
				width 49%
				h3
					top 30px
					font-size 1.8em
				p
					top 108px
					font-size 1.3em				
		&.big
			height 480px
			.bak
				height 245px
				width 100%
				background-color transparent
				background-position center center
				background-repeat no-repeat
				background-size cover
			.cont
				height 235px
				background #eee
				h3
					top 44px
					font-size 2.35em
				p
					top 170px
					font-size 1.6em
	div.full
		width 100%
		height 320px
		clear both
	div.txt
		h3,p
			margin 0
			padding 0
			display block
			position absolute
			width 81%
			height auto
			left 50%
			transform translate(-50%,0)
		h3
			top 60px
			font-size 2.6em
		p
			top 210px
			font-size 1.4em
	div.halfImg
		.bak
			height 100%
			width 51%
			float right
			background-color transparent
			background-position center center
			background-repeat no-repeat
			background-size cover
		.cont
			height 100%
			background #eee
			float left
			width 49%
		h3
			top 60px
			font-size 2.35em
		p
			top 210px
			font-size 1.6em
	div.hero.home
		background transparent url('../img/banner_home.jpg') center center no-repeat
		background-size cover
	div.small.coaches
		div.bak
			background-image url('../img/cont_1.jpg')
		div.triangle.left
			border-color transparent #f33030 transparent transparent
		.cont
			background #f33030
	div.small.nbaStore
		div.bak
			background-image url('../img/cont_2.jpg')
		div.triangle.left
			border-color transparent #005590 transparent transparent
		.cont
			background #005590
	div.big.jrNba
		div.bak
			background-image url('../img/img1_sec_2.jpg')
		div.triangle.down
			border-color #ec7e24 transparent transparent transparent
		.cont
			background #ec7e24
	div.big.elBasket
		div.bak
			background-image url('../img/img2_sec_2.jpg')
		div.triangle.down
			border-color #f8c30c transparent transparent transparent
		.cont
			background #f8c30c
	div.halfImg.galerias
		div.bak
			background-image url('../img/img1_sec_3.jpg')
		.cont
			background #90c939
	div.txt.tutoriales
		background #0b9cbe

@media only screen and (max-width:959px)
	body
		md-toolbar.mobile._md
			display flex
		.layout-row
			md-sidenav.md-sidenav-left
				md-toolbar._md
					display none